# Send this build to the travis.ci container-based infrastructure
# which typically has more capacity than the open-source Linux pool
sudo: false
# Tell Travis you want a Python environment to test in
language: python
# List the versions of Python you'd like to test against
python:
  - "2.7"
  - "3.3"
  - "3.4"
# List the versions of Django you'd like to test against
env:
  - WAGTAIL_VERSION=1.1
  - WAGTAIL_VERSION=1.2
before_install:
  - export DJANGO_SETTINGS_MODULE=tests.test_settings
  - export PIP_USE_MIRRORS=true
# Tell it the things it will need to install when it boots
install:
   # Install whatever version of Django that's listed above
   # Travis is currently working on
 - pip install wagtail==$WAGTAIL_VERSION
 - pip install coveralls
 - pip install flake8
# Tell Travis how to run the test script itself
script:
- flake8 streamfield_tools/
- coverage run --source=streamfield_tools/ runtests.py
after_success: coveralls
